---
import { Image } from 'astro:assets';
import logo from '../assets/logo-san-feliz.svg';
---
<header class="fixed w-full z-50 bg-white/10 backdrop-blur-md">
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
      <div class="flex justify-between items-center">
        <a href="/" class="flex items-center space-x-2">
          <Image 
          src={logo} 
          alt="San Feliz logo"
          width={140} />
        </a>
      </div>
    </nav>
  </header>